<div style="padding: 5px 20px" id="banner"></div>
<div style="padding: 5px 20px" id="layout"></div>
<div style="padding: 5px 20px" id="heading"></div>
<div style="padding: 5px 20px" id="resources2"></div>
<script src="/bundle.js"></script>
