<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/1.1.1/polaris.min.css">
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: '5acf7f5851e23826d7ed00ea29c8c7c4',
      shopOrigin: 'https://da-jinx-in-da-sinx.myshopify.com'
    });
    ShopifyApp.Bar.loadingOff();
  </script>
</head>


<body>
  <div>
    <%= yield %>
  </div>
  <div id='layout'></div>
</body>
